{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static "css/main.css" %} ">
</head>
<body>
    <div>
        <ol>
            {% for task in tasks%}
                <li>{{task}}
                    <span class="bg-green-400 border-2 border-none rounded-md ml-2 p-1">{{task.project}}</span>
                    {% comment %} {% if task.is_completed %} 
                        <span class="bg-green-400 border-2 border-none rounded-md ml-2 p-1">completed</span> 
                    {% else %} 
                        <span class="bg-red-500 border-2  border-none rounded-md ml-2 p-1">Not completed</span>
                    {% endif %}  {% endcomment %}
                </li>
            {% endfor %}
        </ol>
        
    </div>
</body>
</html>