{% extends "dashboard/dashbord.html" %}
{% load static %}
{% block tasks %}
<!-- Tasks Tabile begain here  -->
    <div class=" bg-white rounded-xl shadow-sm ">
        <!-- Task titles head -->
        <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">
            <div class="text-gray-500">TASK TITEL</div>
            <div class="text-gray-500">PRIORITY</div>
            <div class="text-gray-500">TEAM</div>
            <div class="text-gray-500">CREATED AT</div>
        </div>
        <!-- tasks 01 -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">
                <div class="text-gray-500 font-bold flex items-center gap-2">
                    <div class="h-2 w-2 bg-green-500 rounded-full"></div>
                    <div class=""><span>Test low task</span></div>
                </div>
                <div> <span  class="text-blue-500 bg-blue-100 rounded-full px-5 py-1 border">Low</span></div>
                <div class="text-white">
                    <div class="flex -space-x-2">
                        <!-- image 1 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            <img src="{% static "image/mahadi.png" %}" class="rounded-full" alt="" srcset="">
                        </div>
                        <!-- image 1 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            MS
                        </div>
                        <!-- image 1 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            <img src="{% static "image/mahadi.png" %}" class="rounded-full" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="text-gray-500">11 month ago</div>
            </div>
        </div>
        <!-- tasks 02 -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">
                <div class="text-gray-500 font-bold flex items-center gap-2">
                    <div class="h-2 w-2 bg-yellow-500 rounded-full"></div>
                    <div class=""><span>Test Medium task</span></div>
                </div>
                <div> <span  class="text-yellow-500 bg-yellow-100 rounded-full px-5 py-1 border">Medium</span></div>
                <div class="text-white">
                    <div class="flex -space-x-2">
                        <!-- image 1 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            <img src="{% static "image/mahadi.png" %}" class="rounded-full" alt="" srcset="">
                        </div>
                        <!-- image 2 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            MS
                        </div>
                        <!-- image 3 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            L
                        </div>
                    </div>
                </div>
                <div class="text-gray-500">8 month ago</div>
            </div>
        </div>
        <!-- tasks 03 -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">
                <div class="text-gray-500 font-bold flex items-center gap-2">
                    <div class="h-2 w-2 bg-red-500 rounded-full"></div>
                    <div class=""><span>Test High task</span></div>
                </div>
                <div> <span  class="text-red-500 bg-red-100 rounded-full px-5 py-1 border">High</span></div>
                <div class="text-white">
                    <div class="flex -space-x-2">
                        <!-- image 1 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            <img src="{% static "image/mahadi.png" %}" class="rounded-full" alt="" srcset="">
                        </div>
                        <!-- image 2 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            MS
                        </div>
                        <!-- image 3 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            <img src="{% static "image/mahadi.png" %}" class="rounded-full" alt="" srcset="">
                        </div>
                        <!-- image 4 -->
                        <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                            J
                        </div>
                    </div>
                </div>
                <div class="text-gray-500">5 month ago</div>
            </div>
        </div>
    </div>
    {% endblock tasks %}