{% extends "dashboard/dashbord.html" %}
{% load static %}
{% block tasks %}
<!-- Tasks Tabile begain here  -->
    <div class=" bg-white rounded-xl shadow-sm ">
        <!-- Task titles head -->
        <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">
            <div class="text-gray-500">TASK TITEL</div>
            <div class="text-gray-500">PRIORITY</div>
            <div class="text-gray-500">TEAM</div>
            <div class="text-gray-500">CREATED AT</div>
        </div>
        {% comment %} show all task from db in here  {% endcomment %}
        {% for task in tasks %}
            <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 border-b border-gray-200 p-4 gap-4">

                <div class="text-gray-500 font-bold flex items-center gap-2">

                   
                    <div class="h-2 w-2 {% if task.details.get_priority_display == 'Low' %} bg-green-500 
                        {% elif task.details.get_priority_display == 'Medium'%}  bg-yellow-500 
                        {% else %}  bg-red-500 {% endif %} rounded-full">
                    </div>

                    <div class=""><span>{{task.title}}</span></div>
                </div>
                    <div> 
                        <span  class="{% if task.details.get_priority_display == 'Low' %}text-blue-500 bg-blue-100
                            {% elif task.details.get_priority_display == 'Medium'%} text-yellow-600 bg-yellow-100
                            {% else %} text-red-500 bg-red-100 {% endif %} rounded-full px-5 py-1 border">{{task.details.get_priority_display}}
                        </span>
                    </div>


                <div class="text-white">
                    <div class="flex -space-x-2">

                        {% for emp in task.details.assigned_to.all %}
                            <div class="h-10 w-10 rounded-full bg-sky-500 flex items-center justify-center border-2 border-white">
                                {{emp.name|slice:':2'|upper}}
                            </div>
                        {% endfor %}
                       
                        
                        
                    </div>
                </div>
                <div class="text-gray-500">{{task.created_at|timesince}}</div>
            </div>
        </div>
        {% endfor %} 
        {% comment %} end shoing task friom db {% endcomment %}
    </div>
    {% endblock tasks %}